@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Sistema de Cadastro</h1>
    <h1 class="display-4 ">de Departamentos</h1>
    <h1 class="display-4 ">e Vendedores</h1>
    <hr class="container-fluid w-75" />
</div>
