@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Sistema de Cadastro</h1>
    <h1 class="display-4 ">de Vendedores</h1>

    <div class="col-3 mx-auto">
    </div>
</div>
