@model AdvancedResources.Models.Department

@{
    ViewData["Title"] = "Excluir Departamento";
}

<h1 class="display-5 m-4 text-center">@ViewData["Title"]</h1>
<hr class="container-fluid w-75" />

<h5 class="m-4 text-center">Tem certeza que deseja excluir?</h5>
<div class="container-fluid text-center col-md-4">
    <dl class="row">
        <dt class="col-sm-7">
            @Html.DisplayNameFor(model => model.Name)
        </dt> -
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr class="container-fluid w-100" />

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>