html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    background: url(https://www.advr.com.br/uploads/images/configuracoes/redimencionar-287-31-logo.png) no-repeat;
    background-size: 260px 40px;
    height: 50px;
    margin: 5px;
    width: 290px;
}