@model AdvancedResources.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Editar Vendedor";
}

<h1 class="display-5 m-4 text-center">@ViewData["Title"]</h1>
<hr class="container-fluid w-50"/>

<div class="container-fluid col-md-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Seller.Id" />
        <div class="form-group">
            <label asp-for="Seller.Name" class="control-label"></label>
            <input asp-for="Seller.Name" class="form-control" />
            <span asp-validation-for="Seller.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Seller.Email" class="control-label"></label>
            <input asp-for="Seller.Email" class="form-control" />
            <span asp-validation-for="Seller.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Seller.BirthDate" class="control-label"></label>
            <input asp-for="Seller.BirthDate" class="form-control" />
            <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Seller.BaseSalary" class="control-label"></label>
            <input asp-for="Seller.BaseSalary" class="form-control" />
            <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Seller.DepartmentId" class="control-label"></label>
            <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Salvar" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
